.btn {
    background-color: #1b5e20;
}

.container {
    margin-top: 5%;
}

.btn:hover {
    background-color: #4caf50;
}


.btn:enabled {
    background-color: #4caf50;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

:-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}