.btn {
    background-color: #37474f;
}

.main-container {
    margin-top: 5%;
}

.btn:hover {
    background-color: #263238;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    margin-top: 150px;
}

.btn:enabled {
    background-color: #37474f;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

:-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}