{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}mcupper{% endblock %}</title>
        <link href="{% static 'materialize/css/materialize.css' %}" rel="stylesheet">
        <link href="{% static 'cupper/style.css' %}" rel="stylesheet">

    </head>

<body class="teal">
 <nav>

    <div class="nav-wrapper teal darken-4">
      <a href="#" class="brand-logo center">mcupper</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Новости</a></li>
        <li><a href="#">Таблица рекордов</a></li>
      </ul>

        <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li><a class="" href="#">Профиль</a></li>
                <li><a class="" href="{% url 'cupper:logout' %}">| Выйти</a></li>
            {% else %}
                <li><a class="" href="{% url 'cupper:login' %}">Войти</a></li>
            {% endif %}

        </ul>

    </div>
  </nav>

<div class="container main-container">
     {% block content %}{% endblock %}
</div>

        <script src="{% static 'jquery/jquery-3.2.1.min.js' %} " type="text/javascript"></script>
        <script src="{% static 'popper/popper.js' %} " type="text/javascript"></script>
        <script src="{% static 'materialize/js/materialize.js' %} " type="text/javascript"></script>

</body>
</html>
