{% extends 'base.html' %}

{% block content %}
    <div class="container white-text">
        <h3 style="text-align: center">Правила игры</h3>
        <p>В данной игре Вам потребуется решать математические выражение на скорость.<br/>
            Игра делится на два этапа: отборочный и финальный. Игра реализована по принципу комнат.
            В каждой комнате идет своя игра. <br/>При правильном ответе, результат очков в комнате увеличивается
            на 1, иначе - уменьшается. <br/>После победы в отборочнмо этапе, Вам будет преоставлена ссылка на
            финальный этап. При победе в финале, Ваш рейтинг увеличивается на 1.
        </p>

        <h5>Как начать играть?</h5>
        <ol>
            <li>На главной странице нажмите кнопку "Войти в поиск комнат"</li>
            <li>Вам будет предоставлена первая доступная комната, в которой есть места,
                либо создана новая
            </li>
            <li>Присоединитесь</li>
            <li>Игра начнется сразу после того, как заполнится комната</li>
            <li>После победы в отборочном этапе, победителю будет предоставлена ссылка на финал
            </li>
            <li>При победе в финале, победитель получает +1 очко рейтинга</li>
        </ol>
    </div>
{% endblock %}