{% extends 'base.html' %}

{% block content %}
    <div class="container align-items-start white-text" style="text-align: center">
        <h3 class="white-text">Вход</h3><br/>
        <h6>{{ form.non_field_errors }}</h6>
        <form method="post" class="form-group" style="vertical-align: middle">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }} {{ field.errors }}
                </div>
            {% endfor %}
            <input class="btn btn-primary waves-effect" type="submit" value="Войти" style="align-content: left"/>
        </form>
    </div>
{% endblock %}