{% extends 'cupper/base.html' %}
{% block content %}
    <div class="container align-items-start white-text" style="text-align: center">
    <h1 class="white-text">Регистрация</h1><br/>
<form method="post" class="form-group" style="vertical-align: middle">
    {%  csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field }} {{ field.errors }}
        </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Регистрация" style="align-content: left"/>
</form>
    </div>
{% endblock %}