{% extends 'base.html' %}

{% block content %}

<div class="container white-text" style="text-align: center;">
    <h4>Вы находитесь в комнате <p style="display: inline" id="room">{{ room.id }}</p></h4>
    <h5 id="u1">

    </h5>

    <h5 id="if-winner"></h5>

    <div id="manage-buttons">
        <button class="btn btn-large" id="go">Присоединиться</button>
        <button class="btn btn-large" id="leave">Покинуть</button>
    </div>


    <div id="link_to_final"></div>

    <div id="game" class="container">

    </div>
</div>

{% endblock %}

{% block script_block %}
    <script>
        $(document).ready(function () {
            var ws_path = "/cupper/stream";
            var ws = new WebSocket("ws://" + window.location.host + ws_path);

            var room_id = document.getElementById("room").innerHTML;

            var user_id = "{{ user.id }}";
            var user = "{{ user }}";
            var room_type = "{{ room.type }}"
            var usernames = {{ room.get_all_usernames }}


            ws.onmessage = function (msg) {
                var data = JSON.parse(msg.data)
                if (data.user_leave){
                    document.getElementById("u1").innerHTML = ""
                }
                if (data.user_id) {
                    document.getElementById("u1").innerHTML = "Состав комнаты: " + data.user_id;
                }
                if (data.game_start) {
                    var img_src = data.image;
                    document.getElementById("game").innerHTML = "<img width='40%' src='" + img_src + "'/>"
                    document.getElementById("game").innerHTML += "<input type='text' size='40px' width='40px' maxlength='10' id='res' autofocus />"
                    document.getElementById("game").innerHTML += "<button class='btn' id='go_result'>Ответить</button>"

                    document.getElementById("manage-buttons").innerHTML = ""

                    document.getElementById('res').focus()

                    $('#go_result').click( function (e) {
                        var res = document.getElementById("res").value;
                        ws.send(JSON.stringify({
                            "command": "answer",
                            "room": room_id,
                            "user_id": user_id,
                            "answer": res,
                            "room_type": room_type

                        }));
                    });

                    $('#res').keypress(function (e) {
                        if (e.keyCode == 13) {
                            $('#go_result').click()
                        }
                    })
                }
                if(data.ifwinner) {
                    if (data.ifwinner === true) {
                        document.getElementById("if-winner").innerHTML = "Вы выиграли, комната для финала: "
                        document.getElementById("u1").innerHTML = document.getElementById("game").innerHTML = ""
                    }
                }
                if(data.ifloser) {
                    document.getElementById("if-winner").innerHTML = "Вы проиграли"
                    document.getElementById("u1").innerHTML = document.getElementById("game").innerHTML = ""

                }
                if(data.link_to_final_room){
                    var link = data.link_to_final_room;
                    document.getElementById("link_to_final").innerHTML = "<h5><a href='" + link + "'> НАЖМИТЕ </a><h5>"
                }
            }

            $('#go').click(function (e) {
                ws.send(JSON.stringify({
                    "command": "join",
                    "room": room_id,
                    "user_id": user_id,
                    "room_type": room_type,
                }));

                document.getElementById("if-winner").innerHTML = ""

                //document.getElementById('go').id = 'leave';
                //document.getElementById('leave').innerHTML = 'leave';
            })

            $('#leave').click(function (e) {
                ws.send(JSON.stringify({
                    "command": "leave",
                    "room": room_id,
                    "user_id": user_id,
                    "room_type": room_type
                }))

                //document.getElementById('leave').id = 'go';
                //document.getElementById('go').innerHTML = 'go';
            })
        });

    </script>
{% endblock %}