{% extends 'base.html' %}

{% block content %}
<div class="container white-text" style="text-align: center;">
    <h4>Вы находитесь в комнате <p style="display: inline" id="room">{{ room.id }}</p></h4>
    <h5 id="user-group"></h5>

    <h5 id="game-result-for-user"></h5>

    <div id="manage-buttons">
        <button class="btn btn-large waves-effect" id="connect-to-room">Присоединиться</button>
        <button class="btn btn-large waves-effect" id="leave-room">Покинуть</button>
    </div>

    <div id="link-to-final-room"></div>

    <div id="game" class="container"></div>
</div>
{% endblock %}

{% block script_block %}
    <script>
        $(document).ready(function () {
            var ws_path = "/cupper/stream";
            var ws = new WebSocket("ws://" + window.location.host + ws_path);

            var room_id = document.getElementById("room").innerHTML;

            var user_id = "{{ user.id }}";
            var room_type = "{{ room.type }}";

            ws.onmessage = function (msg) {
                var data = JSON.parse(msg.data);

                if (data.user_leave){
                    document.getElementById("user-group").innerHTML = ""
                }

                if (data.users_group) {
                    document.getElementById("user-group").innerHTML = "Состав комнаты: " + data.users_group;
                }

                if (data.game_start) {
                    var img_src = data.image;
                    document.getElementById("game").innerHTML = "<img width='40%' src='" + img_src + "'/>";
                    document.getElementById("game").innerHTML += "<input type='text' class='waves-effect' " +
                        "size='40px' width='40px' " +
                        "maxlength='10' id='answer-input' autofocus />";

                    document.getElementById("game").innerHTML += "<button class='btn waves-effect' " +
                        "id='answer-button'>Ответить" +
                        "</button>";

                    document.getElementById("manage-buttons").innerHTML = "";

                    document.getElementById('answer-input').focus();

                    $('#answer-button').click( function (e) {
                        var answer = document.getElementById("answer-input").value;

                        ws.send(JSON.stringify({
                            "command": "answer",
                            "room_id": room_id,
                            "user_id": user_id,
                            "answer": answer,
                            "room_type": room_type

                        }));
                    });

                    $('#answer-input').keypress(function (e) {
                        if (e.keyCode == 13) {
                            $('#answer-button').click()
                        }
                    })
                }

                if(data.user_is_winner) {
                    if (data.user_is_winner === true) {
                        document.getElementById("game-result-for-user").innerHTML = "Вы выиграли, перейдите по ссылке" +
                            " для подключения к финалу... ";

                        document.getElementById("user-group").innerHTML = document.getElementById("game").innerHTML = ""
                    }
                }

                if(data.user_is_loser) {
                    document.getElementById("game-result-for-user").innerHTML = "Вы проиграли";
                    document.getElementById("user-group").innerHTML = document.getElementById("game").innerHTML = ""

                }

                if(data.link_to_final_room){
                    var link = data.link_to_final_room;

                    document.getElementById("link-to-final-room").innerHTML = "<h5><a href='" + link + "'>" +
                        "Финальный этап</a><h5>"
                }
            };

            $('#connect-to-room').click(function (e) {
                ws.send(JSON.stringify({
                    "command": "join",
                    "room_id": room_id,
                    "user_id": user_id,
                    "room_type": room_type
                }));

                document.getElementById("game-result-for-user").innerHTML = ""
            });

            $('#leave-room').click(function (e) {
                ws.send(JSON.stringify({
                    "command": "leave",
                    "room_id": room_id,
                    "user_id": user_id,
                    "room_type": room_type
                }))
            })
        });

    </script>
{% endblock %}